.content {
    touch-action: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sidebar-content {
    display: block;
    touch-action: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.sidebar-resizer-content:hover {
    box-shadow: rgba(0, 187, 255, 0.7) 0px 5px 15px;
}